<body class="body">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img width="185" alt="RobDroneGo Logo" src="/assets/Logo.png" />

    <span> Bem-vindo ao RobDroneGo </span>

    <img class="logoIsep" alt="ISEP Logo" src="/assets/LogoIsep_SFundo.png">
    <img class="logoDei" alt="DEI Logo" src="/assets/DeiLogo_SFundo.png">
  </div>

  <!-- Menu -->


  <div class="container">
    <div class="card highlight-card card-small">

      <svg id="robot" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
        <circle cx="50.839" cy="50.839" r="50.839" fill="#fff" />
        <image xlink:href="/assets/Robot.svg" width="80" height="80" x="11.84" y="11.84" />
      </svg>

      <span>MENU PRINCIPAL</span>

    </div>



    <div class="menu-container">



      <div class="menu-item">
        <button class="custom-btn" routerLink="/administracao-sistemas">Administração de Sistemas</button>

        <app-visualizacao-3-d *ngIf="showAdministracaoSistema"></app-visualizacao-3-d>

        <div id="info-display"></div>

      </div>

      <div class="menu-item">
        <button class="custom-btn" routerLink="/manage-users">Gestão de Utilizadores</button>

        <app-manage-users *ngIf="showGestaoUtilizador"></app-manage-users>

        <div id="info-display"></div>

      </div>







      <div class="menu-item dropdown">
        <a href="#" class="dropdown">Gestor de Campus</a>
        <div class="dropdown-content">
          <a [routerLink]="['/floor']">Pisos</a>
          <a [routerLink]="['/building']">Edificios</a>
          <a [routerLink]="['/room']">Salas</a>
          <a [routerLink]="['/elevator']">Elevadores</a>

          <a [routerLink]="['/bridge']">Passagem</a>
        </div>
      </div>






      <div class="menu-item dropdown ">
        <a href="#" class="dropdown">Gestor de Frota</a>
        <div class="dropdown-content">
          <a [routerLink]="['/robot']">Robot</a>
          <a [routerLink]="['/robot-type']">Tipo de Robot</a>
        </div>
      </div>


      <div class="menu-item">
        <button class="custom-btn" routerLink="/visualizacao-3-d">Visualização 3D</button>

        <app-visualizacao-3-d *ngIf="showMenu3D"></app-visualizacao-3-d>

        <div id="info-display"></div>
      </div>

      <div class="menu-item dropdown">
        <a href="#" class="dropdown">Gestão e Planeamento</a>
        <div class="dropdown-content">
          <a [routerLink]="['/analise-dados']">Análise de dados</a>
        </div>
      </div>


      <div class="menu-item dropdown ">
        <a href="#" class="dropdown">Gestão de Tarefas</a>
        <div class="dropdown-content">
          <a [routerLink]="['/task']">Gerir tarefas</a>
        </div>
      </div>





    </div>
  </div>