:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 38, 0, 0.832);
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar .logoIsep {
    height: 40px;
    margin-left: auto;
}

.toolbar .logoDei {
    height: 40px;
    margin: 0 16px;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}


.body {
    background-image: url('/assets/Campus.png');
    /* Caminho da imagem */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
}



.message-box {

    color: rgb(30, 29, 29);
    padding: 10px;
    text-align: center;
    margin-top: -350px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.message-box-inner {
    padding: -8px;
    border-radius: 10px;

}

.button-container {
    position: fixed;
    display: flex;
    justify-content: center;

    align-items: center;
    margin-top: 100px;
    flex-direction: row;
    padding: 10px 30px;
    gap: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.content.bottom-right button {
    background-color: rgba(65, 64, 64, 0.832);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}



.back-button {
    background-color: rgb(94, 93, 93);
    margin-top: 20px;
}

.back-button:hover {
    background-color: rgb(118, 117, 117);
}






.option-button {
    margin-top: -180px;
    background-color: rgb(255, 89, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;

}

.option-button:hover {
    background-color: rgb(255, 132, 0);
}