<p>analise-dados works!</p>
<!-- app.component.html -->

<body class="body">
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
        <img width="185" alt="RobDroneGo Logo" src="/assets/Logo.png" />

        <span>Welcome to RobDroneGo 😃</span>


        <img class="logoIsep" alt="ISEP Logo" src="/assets/LogoIsep_SFundo.png">
        <img class="logoDei" alt="DEI Logo" src="/assets/DeiLogo_SFundo.png">
    </div>

    <div class="message-box">
        <div class="message-box-inner">
            <h1>Menu Administração de Sistemas</h1>
        </div>
    </div>