:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 38, 0, 0.832);
    color: white;
    font-weight: 600;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .toolbar .logoIsep {
    height: 40px;
    margin-left: auto;
  }
  
  .toolbar .logoDei {
    height: 40px;
    margin: 0 16px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  svg.material-icons {
    height: 24px;
    width: auto;
  }
  
  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
  
  .card svg.material-icons path {
    fill: #888;
  }
  
  
  .body {
    background-image: url('/assets/Campus.png');
    /* Caminho da imagem */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Isso garante que o fundo cubra a altura total da janela do navegador. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .message-box {
    color: rgb(30, 29, 29);
    padding: 10px;
    text-align: center;
    margin-top: -350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  
  .message-box-inner {
    padding: -8px;
    /* Espaçamento interno para a caixa */
    border-radius: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
  }
  
  .option-button {
    position: fixed;
    left: 5%;
    top: 45%;
    height: 50px;
    transform: translateY(-50%);
    background-color: rgb(255, 89, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .option-button1 {
    position: fixed;
    left: 5%;
    top: 55%;
    height: 50px;
    transform: translateY(-50%);
    background-color: rgb(255, 89, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .option-button:hover {
    background-color: rgb(255, 132, 0);
  }
  
  .form-container {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .form-container .inputbox {
    margin-bottom: 15px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Adjust text color if necessary */
  }
  
  .form-container input,
  .form-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc; /* Add a border color */
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-container button {
    background-color: rgb(255, 89, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: rgb(255, 89, 0);
  }

  .form-container-result {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border: 10px solid rgb(255, 89, 0);
  }

  body .form-container-result {
    color: black;
  }
  
  /* Seletor para a classe content bottom-right */
  .content.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px; /* Ajuste conforme necessário para a margem do botão em relação às bordas */
  }
  
  /* Estilo adicional se desejar */
  .content.bottom-right button {
    background-color: rgba(0, 0, 0, 0.832);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content.bottom-right button:hover {
    background-color: rgba(0, 0, 0, 0.832);
  }

  /* Seletor para a classe content bottom-right */
  .content.bottom-main {
    position: fixed;
    bottom: 0;
    right: 200px;
    margin: 10px; /* Ajuste conforme necessário para a margem do botão em relação às bordas */
  }
  
  /* Estilo adicional se desejar */
  .content.bottom-main button {
    background-color: rgba(0, 0, 0, 0.832);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content.bottom-main button:hover {
    background-color: rgba(0, 0, 0, 0.832);
  }