:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}



.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 38, 0, 0.832);
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar .logoIsep {
    height: 40px;
    margin-left: auto;
}

.toolbar .logoDei {
    height: 40px;
    margin: 0 16px;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}


.body {
    background-image: url('/assets/Campus.png');
    /* Caminho da imagem */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;

}



.message-box {
    color: rgb(30, 29, 29);
    padding: 10px;
    text-align: center;
    margin-top: -350px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.message-box-inner {
    padding: -8px;
    border-radius: 10px;

}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}

.option-button {
    background-color: rgb(255, 89, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option-button:hover {
    background-color: rgb(255, 132, 0);
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -20px;
    overflow-y: auto;
    max-height: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

.form-container .form-control,
select.form-control {
    min-width: 280px;
    max-width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Estilo para o estado de foco do campo select */
select.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input,
textarea,
button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-control {
    margin-bottom: 10px;
    margin-right: 10px;
}

button {
    background-color: #209726;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
}


.back-button {
    background-color: rgb(94, 93, 93);
}

.back-button:hover {
    background-color: rgb(118, 117, 117);
}


.content.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;

}


.content.bottom-right button {
    background-color: rgba(65, 64, 64, 0.832);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.no-floors-message {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 45px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}